.highlight {
    border-radius: 0.4rem;
    color: "#31333F";
    padding: 0.1rem;
    /* margin-bottom: 1rem; */
}

.bold {
    padding-left: 1rem;
    font-weight: 700;
}

.blue {
    background-color: lightskyblue;
    padding: .25em 0;
}

.red {
    background-color: lightcoral;
}

.underline {
    text-decoration: underline;
    text-decoration-color: lightcoral;
    /* lightskyblue */
}